* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

:root {
    --warna-judul-deskripsi : #AF0171;
    --warna-utama : #dedede;
    --warna-deskripsi : #645CAA;
    --warna-font : #000;
    --warna-utama-bawah: #DBC8AC;
}

.dark-mode {
    --warna-judul-deskripsi : #D58BDD;
    --warna-utama : #16213E;
    --warna-deskripsi : #A5F1E9;
    --warna-font : #fff;
    --warna-utama-bawah: #372948;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--warna-utama);
}


.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo a {
    font-size: 25px;
    font-weight: 800;
    float: left;
    font-family: courier;
    color: #1157add0;
}

.menu {
    float: right;
}


nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky; 
    top: 0;
    background: #408bd5;
    z-index: 1;
    border-bottom:1px solid #000000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
    color: var(--warna-judul-deskripsi);
}




h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: var(--warna-deskripsi);
    width: 100%;
    line-height: 50px;
}

a.tbl-biru {
    background: #3f72af;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #fc5185;
    text-decoration: none;
}

a.tbl-pink {
    background: #fc5185;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-pink:hover {
    background: #3f72af;
    text-decoration: none;
}

p {
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    color: var(--warna-font);
}

.tengah {
    text-align: center;
    width: 100%;
}

.ikan-list {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.ikan-rare {
    width: 20%;
    margin: 0 auto;
}

.ikan-rare img {
    width: 80%;
    border-radius: 50%;
}

.ikan-rare p {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 25px;
    text-align: center;
    color: #607b9a;
}



#contact {
    background: var(--warna-utama-bawah);
    padding:50px 0px 50px 0px;
}

.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section {
    width: 20%;
    margin: 0 auto;
}

h3 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

@media screen and (max-width: 991.98px) {
    .wrapper {
        width: 90%;
    }

    .logo a {
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }

    nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
    }


    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    .ikan-rare {
        width: 50%;
    }

    
}


.check-box{
    justify-content: center;
    display: flex;
    align-items: center;
}

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

input[type="checkbox"]:checked ~ .check:before{
    transform: translateX(20px);
}

input[type="checkbox"]:checked ~ .check:before{
    background-color: #000;
    box-shadow: 0 0 0 50000px #fff;
}

.check:before,
.check:after {
    border-radius: 50%;
    content: '';
    height: 16px;
    position: absolute;
    top: 2px;
    transition: transform 0.5s ease;
    width: 16px;
}

.check:before {
    background-color: #fff;
    left: 2px;
}

.check {
    background-color: #000;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in, 
    box-shadow 0.5s ease-in;
    width: 40px;
    display: inline-block;
}